/**
 * = Import Variables
 *
 * Add variables and normalize before any style.
 *
 * ========================================================================= */

@import "config/variables";
@import "config/_mixins";
@import "config/_animations";
@import "tools/normalize/normalize";


/**
 * = Global
 *
 * Add your global styles for your pages and keep it clean.
 *
 * ========================================================================= */

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}


body {
	color: $text-color;
	font: $text-font;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	background-size: cover;
	background-repeat: no-repeat;

	* {
		outline: none;
		box-sizing: border-box;
	}

}

.container {
	max-width: $container-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&.brand {
		max-width: 1240px;
	}

}

a {
	color: inherit;

	&:hover {
		color: $color-light;
	}
}

p {
	color: inherit;
	font: $text-font;
}

.button,
button,
input[type="submit"],
input[type="reset"] {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;

	font: $button-font;

	min-height: $finger-size;
	max-width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;

	border: $button-border-width solid $button-border-color;
	border-radius: $button-border-radius;

	background-color: $button-bg-color;
	color: $button-text-color;

	&:hover {
		background-color: $color-light;
		color: $bg-color;
	}

	&.full {
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	min-height: $finger-size;
	max-width: 100%;
	padding: 5px 10px;
	margin-bottom: 10px;

	font: $input-font;

	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;

	background-color: $input-bg-color;
	color: $input-text-color;

	&::placeholder {
		color: #8E949D;
		font-weight: 500;
	}

	&.large {
		font-size: $font-size-largest;
		padding: 10px 20px;
	}

	&.full {
		width: 100%;
	}

}

textarea {
	height: auto;
	width: 100%;
	padding: 20px;
}

select {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
}

.disabled,
[disabled] {
	opacity: 0.5;
	pointer-events: none;
	user-select: none;
	cursor: not-allowed;
}

h1, .h1-size,
h2, .h2-size,
h3, .h3-size,
h4, .h4-size,
h5, .h5-size,
h6, .h6-size {
	color: inherit;
	font: $title-font;
}

h2, .h2-size {
	font-size: #{$title-font-size * 0.9};
	line-height: normal;
	font-weight: normal;
}

h3, .h3-size {
	font-size: #{$title-font-size * 0.8};
	line-height: normal;
	font-weight: normal;
}

h4, .h4-size {
	font-size: #{$title-font-size * 0.7};
	line-height: normal;
	font-weight: normal;
}

h5, .h5-size {
	font-size: #{$title-font-size * 0.6};
	line-height: normal;
	font-weight: normal;
}

h6, .h6-size {
	font-size: #{$title-font-size * 0.5};
	line-height: normal;
	font-weight: normal;
}

figure {
	margin: 0;

	& > img {
		max-width: 100%;
	}
}

.rev-icon {
	vertical-align: middle;
}


.nav-tabs {
	width: 410px;
	margin: 0;
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
	display: inline-block;
	border-left: 2px solid rgb(229, 232, 237);
	> li {
		display: block;
    margin: 0;
    border-left: 3px solid transparent;
    padding: 15px 25px;
    width: auto;
    background-color: transparent;
    transition: .3s all;
    margin-left: -2px;
		> a {
			text-decoration: none;
			position: relative;
			display: inline-block;
			.tab-title {
				font-weight: 500;
				font-size: 20px;
				line-height: 36px;
				letter-spacing: -.03em;
				color: rgba(3,27,78,.4);
				transition: .3s all;
			}
			.tab-icon {
				display: inline-block;
		    background: rgb(222, 226, 234);
		    color: rgba(255,255,255,.8);
		    border: 1px solid transparent;
		    box-sizing: border-box;
		    border-radius: 10px;
		    font-weight: 600;
		    width: 36px;
		    height: 36px;
		    text-align: center;
		    line-height: 36px;
		    font-size: 19px;
		    margin-right: 10px;
		    transition: .3s all;
			}
			.tab-content {
				margin-top: 5px;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: -0.025em;
				color: rgba(85, 98, 116, 0.8);
				display: none;
			}
		}
		&.active {
			background-color: transparent;
	    display: block;
	    /* border-radius: 10px; */
	    padding: 15px 25px;
	    border-left: 2px solid #047ef3;
			> a,
			> a:hover,
			> a:focus {
				cursor: default;
				.tab-title {
					color: $title-color;
				}
				.tab-icon {
					background: #0363f3;
					color: #FFFFFF;
					border: 1px solid rgba(118, 129, 144, 0.12);
					box-shadow: 0px 6px 11px rgba(58, 62, 87, 0.15);
				}
				.tab-content {
					display: block;
				}
			}
		}
	}

	&.white-skin {
		> li {
			background-color: rgba(0,0,0,0.05);
			> a,
			> a:hover,
			> a:focus {
				.tab-title {
					color: rgba(255, 255, 255, 0.5);
					transition: 0.3s all;
				}
				.tab-icon {
					background: rgba(255, 255, 255, 0.2);
					color: rgba(255, 255, 255, 0.5);
				}
				.tab-content {
					color: rgba(255, 255, 255, 0.7);
				}
			}
			&.active {
				background-color: rgba(0,0,0,0.15);
				> a,
				> a:hover,
				> a:focus {
					.tab-title {
						color: #FFF;
					}
					.tab-icon {
						background: #FFF;;
						color: #0363F3;
					}
				}
			}
		}
	}

	&.vertical {
		width: 100%;
		border-bottom: 2px solid #e5e8ed;
		border-left: none;
		display: flex;
  	flex-wrap: wrap;
		> li {
			display: inline-block;
			background-color: transparent;
			margin-bottom: -2px;
			border-bottom: 2px solid transparent;
			border-left: none;
			border-radius: 0;
			padding: 20px 25px;
			flex: auto;
			> a {
				text-decoration: none;
				position: relative;
				display: inline-block;
			}

			&.active {
				background-color: transparent;
				border-bottom: 2px solid #047ef3;
				border-left: none;
				padding: 20px 25px;
				> a,
				> a:hover,
				> a:focus {
					.tab-icon {
						background: #0363F3;
						color: #FFF;
						&.purple {
							background: #0363F3;
						}
						&.blue {
							background: #ff5e57;
						}
						&.orange {
							background: #ffa801;
						}
						&.dark {
							background: #000;
						}
					}
				}
			}
		}
	}

}

.tab-content {

	> .tab-pane {
		display: none;

		&.active {
			display: block;
		}
	}

	> .active {
		display: block;
	}
}


/**
 * = Include Tools
 *
 * Add external CSS for tools and frameworks.
 *
 * ========================================================================= */

@import "tools/flexiblegs/_flexible-grid-system";
//@import "tools/tiny-slider/tiny-slider";
