/**
 * = Variables
 *
 * Add your variables & keep it clean.
 *
 * ========================================================================= */

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

 	* ------- Colors ------- *

 -*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

// Dark Colors
$color-dark: #868686;
$color-darker: #333333;
$color-darkest: #000000;

// Light Colors
$color-light: #fff;
$color-lighter: #fbf9f9;
$color-lightest: #ffffff;

// Other Colors
$color-lightest-blue: #3eb5f1;
$color-light-blue: #00a3ff;
$color-blue: #329bd6;
$color-dark-blue: #115277;
$color-picton-blue: #54c0e8;
$color-green: #76bc21;
$color-grey: #6f6f6f;
$color-light-grey: #dadada;
$color-light-black: #374150;
$color-bronze: #cd7f32;
$color-silver: #c0c0c0;
$color-gold: #ffb800;
$color-platinum: #e5e4e3;

$bg-color: $color-lightest;
$header-bg-color: $color-light;
$footer-bg-color: $color-blue;

$dark-blue: #010e28;
$light-blue: #0363f3;
$cloud-blue: #f3f5f9;

$p-color: #5b6987;
$p-low: #7a8492;

$title-color: #031b4e;

// Add as many as you need...

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Sizes ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$container-width: 1140px;

$finger-size: 44px;

$header-height: 65px;
$header-fixed-height: 65px;
$footer-height: 80px;
$button-size: 44px; // Buttons and inputs sizes

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Typography ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$secondary-font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-largest: 24px;

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Titles ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

//$title-color: $color-darkest;
$title-font-family: $secondary-font-family;
$title-font-size: $font-size-larger;
$title-line-height: normal;
$title-font-weight: bold;
$title-font: $title-font-weight #{$title-font-size "/" $title-line-height} $title-font-family;

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Texts ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$text-color: $color-darkest;
$text-font-family: $primary-font-family;
$text-font-size: $font-size-small;
$text-line-height: 1.4;
$text-font-weight: 400;
$text-font: $text-font-weight #{$text-font-size "/" $text-line-height} $text-font-family;

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Borders ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$border-color: $color-dark;
$border-width: 1px;
$border-radius: 3px;

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Buttons ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
$button-bg-color: $color-dark;
$button-text-color: $color-lightest;

$button-border-color: $border-color;
$button-border-width: $border-width;
$button-border-radius: $border-radius;

$button-font: $text-font-weight #{$text-font-size "/" $text-line-height} $text-font-family;

/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Inputs ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$input-bg-color: $color-lightest;
$input-text-color: $color-darkest;

$input-border-color: $border-color;

$input-border-width: $border-width;
$input-border-radius: $border-radius;

$input-font: $text-font-weight #{$text-font-size "/" $text-line-height} $text-font-family;
